@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');


/* RESET */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Signika Negative", sans-serif;  
}

a {
	color: currentColor;
	text-decoration: none;
}

ul {
	list-style: none;
}

body {
	background-color: #efefef;
}

/*  utilities */
.title-container {
	font-size: 30px;
	text-align: center;
}

button {
	background-color: white;
	border-radius: 120px;
	font-size: 16px;
	line-height: 15px;
	padding: 11px 20px 11px;
	text-align: center;
	margin-top: 12px;
}

.p-center {
	text-align: center;
	color: white;
	font-size: 16px;
	padding:20px;

}

/* Navbar  */
.navbar {
	height: 50px;
	background-color: rgba(0, 0, 255, 0.644);
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.main-menu {
	width: 600px;
	color: white;
	display: flex;
	gap: 30px;
	font-size: 18px;
	justify-content: space-around;
}

.navbar .login {
	background-color: white;
	border-radius: 120px;
	font-size: 16px;
	line-height: 20px;
	padding: 11px 20px 11px;
	text-align: center;

}

/* Layout */
.card {
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(./img/jumbo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	

}

.container {
	max-height: 300px;
	height: 250px;
	width: 700px;
	align-content: center;
}

.container .title-container {
	color:white;
}

.discord-browser{
	background-color: black;
	color: white;
}


/*  2 Layout */
.card-2 {
	height: 250px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-2 .container {
	max-height: 300px;
	height: 250px;
	width: 700px;
	background-image: url(./img/item1.svg);
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
}

.row {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
}

.col-msg {
	width: 60%;
	height: 100%;
	background-image: url(./img/item1.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
} 

.col-2 {
	align-content: center;
	width: 40%;
	height: 100%;
} 

/*  Layout 3 */
.card-3 {
	height: 250px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(184, 172, 172, 0.904);
}

.card-3 .container {
	max-height: 300px;
	height: 180px;
	width: 700px;
	border: 1px solid black;
}

/* 5° Layout */

.card-5 {
	height: 550px;
	background-color: rgba(184, 172, 172, 0.904);
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-5 .container {
	padding: 12px;
	max-height: 500px;
	height: 500px;
	width: 700px;
	background-color: green;
	align-items: flex-start;
}

/* 6° Layout */
.card-6 {
	height: 250px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	border-bottom: 5px solid grey;
}

.card-6 .container {
	max-height: 300px;
	height: 250px;
	width: 700px;


}

.col-double {
	width: calc(100% / 3);
	height: 100%;
	background-color: indianred;
	border: 1px dashed black;
}

.col-single {
	width: calc(100% / 6);
	height: 100%;
	background-color: cadetblue;
	border: 1px dashed black;
}

/* Footer con navabr*/
.layout-footer {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: space-between;
}

.navbar-footer {
	width: 700px;
	height: 50px;
	background-color: aquamarine;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-footer {
	background-color: pink;
	border: 1px dashed black;
	font-size: 20x;
}

.button {
	background-color: pink;
	border: 1px dashed black;
	font-size: 20x;
}